
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #de4a32;
	border: 2px solid #de4a32;
}



*{
	box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
	margin: 0;
    background: #eaeaea url(../img/fondo.jpg) 50% 0 repeat-y;
	font-size: 16px;
	line-height: 150%;
	color: #555555;
	font-weight: 200;

}
div.container{
    width: 1100px;
    margin: 0 auto;
}
header{
	width: 100%;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    margin: 0 auto;
    color: #fff;
    padding: 10px 0;
	background: #ea0105; /* Old browsers */
background: -moz-linear-gradient(top,  #ea0105 0%, #c00000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea0105), color-stop(100%,#c00000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ea0105 0%,#c00000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ea0105 0%,#c00000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ea0105 0%,#c00000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ea0105 0%,#c00000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea0105', endColorstr='#c00000',GradientType=0 ); /* IE6-9 */
border-bottom: 2px solid #28292d;

}
a.logo{
    position: absolute;
    top: 15px;
    left: 200px;
    z-index: 99999999;
}
section.redessociales{
    position: absolute;
    top: 15px;
    right: 480px;
    z-index: 99999999999999999999;
}

section.redessociales a {
    height: 37px;
    width: 37px;
    margin: 0 2px;
    display: inline-block;
}

section.redessociales a:nth-child(1){
    background: url('../img/spray.png') no-repeat;
    background-position: 0 0;
    width: 37px;
    height: 37px;
}
section.redessociales a:nth-child(1):hover{
    background-position: 0 -38px;
}
section.redessociales a:nth-child(2){
    background: url('../img/spray.png') no-repeat;
    background-position: -37px 0;
    width: 37px;
    height: 37px;
}
section.redessociales a:nth-child(2):hover{
    background-position: -37px -38px;
}
section.redessociales a:nth-child(3){
    background: url('../img/spray.png') no-repeat;
    background-position: -74px 0;
    width: 37px;
    height: 37px;
}
section.redessociales a:nth-child(3):hover{
    background-position: -74px -38px;
}

section.principal{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
section.slider{
    width: 100%;
    background: url('../img/slider.jpg') no-repeat;
    height: 340px;
    overflow: hidden;
}
h1#logo{
    background-image: url('../img/logo.png');
    width: 162px;
    height: 157px;
    float: left;
    margin: 10px 0;
}
h1#logo a{
    display: block;
    /*para forzar todo el enlace que se convierta en un bloque*/
    width: 100%;
    height: 100%;
    /*para asegurarse que en enlace ocupe el 100% de alto y ancho del bloque*/
}
h1#logo a span{
    visibility: hidden;
    /*para ocultar el texto*/
}
ul.listaslider{
    float: left;
    display: block;
    width:  100%;
}
ul.listaslider li{
    list-style-type: disc;
    color: #ecec04;
}
ul.listaslider li a{
    width: 30%;
    text-decoration: none;
    color: #ecec04;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    display: block;
}
ul.listaslider li a:hover{
    padding-left: 40px;
    color: #EF4A42;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
section.kidplaying{
    padding: 40px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
section.kidplaying img{
    display: block;
    float: left;
}
section.kidplaying p{
    line-height: 150%;
    margin: 15px 0;
    color: #111924;
    font-weight: 500;
    float: right;
    width: 50%;
}

section.kidplaying span{
    color: #D9261A;
    font-weight: 700;
}

section.destacado {
    background-attachment: scroll,                          scroll;
    background-image: url("images/top-3200.png"), url("images/overlay.png"), url("images/top2-3200.png");
    background-position: bottom center,                 top left,               top center;
    background-repeat: repeat-x,                        repeat,                 repeat-x;
    background-size: 3200px 460px,                  auto,                   3200px 460px;
    color: rgba(255, 255, 255, 0.8);
    padding: 11em 0 15em 0;
    position: relative;
    text-align: center;
    top: -180px;
    z-index: 1;
}

section.destacado:before, section.destacado:after {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 0;
}

section.destacado:before {
    height: calc(100% - 50px);
    opacity: 0.15;
    top: 0;
}

p.destacado{
    font-size: 17px;
    line-height: 150%;
}
p.destacado span{
    font-size: 22px;
    color: #EF4A42;
}
section.frasefutbol{
    width: 50%;
    float: left;
    height: auto;
}
img.frase{
    display: block;
    margin: 0 auto;
}
section.jugando{
    background: url(../img/jugando.jpg);
    width: 50%;
    float: right;
    height: 720px;
    position: relative;
    top: -140px;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999999;
}
footer img.fondo{
    width: 100%;
    position: relative;
    bottom: -15px;
}

/*CATEGORIAS*/

section.headerinterior{
    background-attachment: scroll, scroll;
    background-image: url("images/top-3200.png"), url("images/categorias.jpg"), url("images/top2-3200.png");
    background-position: bottom center, top left, top center;
    background-repeat: repeat-x, repeat, repeat-x;
    background-size: 3200px 460px, auto, 3200px 460px;
    padding: 1.5em 0 5.5em 0;
    position: relative;
    text-align: center;
    top: 0;
    color: #EF4A42;
    z-index: 1;
}

section.categorias{
    padding: 30px 0 140px 0;
}

h1#logointerior{
    background-image: url('../img/logo.png');
    width: 162px;
    height: 157px;
    margin: 0 auto;
}
h1#logointerior a{
    display: block;
    /*para forzar todo el enlace que se convierta en un bloque*/
    width: 100%;
    height: 100%;
    /*para asegurarse que en enlace ocupe el 100% de alto y ancho del bloque*/
}
h1#logointerior a span{
    visibility: hidden;
    /*para ocultar el texto*/
}
h2.titulo{
    font-size: 24px;
    margin-top: 20px;
}

section.cuadrotexto{
    position: relative;
    height: 20em;
}

.cuadrotexto img {
    display: block;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

.cuadrotexto.izquierda {
    text-align: left;
}

.cuadrotexto.derecha {
    text-align: right;
}

.cuadrotexto section.image {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.cuadrotexto.izquierda section.image {
    float: left;
}

.cuadrotexto.derecha section.image {
    float: right;
}

.cuadrotexto.izquierda img {
    right: 0;
    top: 0;
}

.cuadrotexto.derecha img {
    left: 0;
    top: 0;
}

.cuadrotexto.izquierda .content {
    padding-right: 0;
}

.cuadrotexto .content {
    display: inline-block;
    padding: 2em;
    vertical-align: middle;
    width: 48%;
    font-size: 16px;
    line-height: 150%;
}

.cuadrotexto .content h3 {
    margin-bottom: 0.5em;
    font-size: 22px;
    color: #d70203;
}
.cuadrotexto .content :last-child {
    margin: 0;
}

.cuadrotexto .content p span{
    display: block;
    font-weight: 600;
    margin-top: 50px;
}
ol.listacategorias{
    font-weight: 600;
}

/*SERVICIOS*/

section.servicio{
    width: 49%;
    float: left;
}

section.torneos{
    width: 51%;
    float: right;
}

h3.titulointerior{
    cursor: context-menu;
    color: #fff;
    margin: 0 0 15px 0;
    height: 39px;
    display: block;
    line-height: 38px;
    font-size: 18px;
    padding: 0 0 0 70px;
    background: url("../img/titulointerior.jpg") 0 0 no-repeat, url("../img/titulointeriorfinal.jpg") 100% 0 no-repeat;
    background-color: #4a4e59;
}
h3.titulointerior:hover{
    padding-left: 100px;
    color: #f30203;
    background-position: bottom left, bottom right;
    background-color: #252932;
    -webkit-transition: padding-left .5s;
    -o-transition: padding-left .5s;
    transition: padding-left .5s;
}

ol.listapadding{
    padding-left: 70px;
}
/*REQUISITOS*/
section.requisitos{
    position: relative;
}
li.requisitos{
    cursor: context-menu;
    z-index: 999999999999999;
    padding: 10px 0 10px 20px;
    margin-bottom: 20px;
    width: 35%;
    border-left: 6px solid #f00;
background: #f8f8f8;
background: -webkit-linear-gradient(#f8f8f8 15%, #f0f0f0 100%);
background: -o-linear-gradient(#f8f8f8 15%, #f0f0f0 100%);
background: linear-gradient(#f8f8f8 15%, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f0f0f0', GradientType=0);
    position: relative;
    z-index: 9999999999999999999999999999999999999999999999999;
}

li.requisitos:hover{
    padding-left: 50px;
    color: #C20000;
    -webkit-transition: padding-left .5s;
    -o-transition: padding-left .5s;
    transition: padding-left .5s;
}
img.requisitos{
    position: absolute;
    top: -30px;
    right: 0;
}

/*TECNICAS*/
p.tecnicas{
    line-height: 150%;
    margin-bottom: 15px;
}
h3.frasetecnicas{
    font-size: 22px;
    line-height: 150%;
    font-weight: 700;
    width: 70%;
    text-align: center;
    margin: 25px auto;
}
/*CONTACTO*/
section.contacto {
    padding: 0 0 170px 0;
}
form{
    position: relative;
    z-index: 9999999999999999999999999999999999999999999999999;
}

.form-container{
    width: 100%;
    overflow: hidden;
    margin: 50px auto;

}
.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.form-control:focus {
  border-color: rgba(245,55,0,.6);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(245,55,0,.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(245,55,0,.6);
}

.btn-contact {
    background-color: #D62618;
    border: 0px;
    border-radius: 8px;
    text-shadow: none !important;
    padding: 15px 30px 12px 30px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -webkit-background-origin: content-box;
    background-origin: content-box;shadow: none !important;
    cursor: pointer;
}
.btn-contact:hover{
    background-color: #14232A;
    color: #D62618;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

section.direccion {
    margin-top: 30px;
}
p.central{
    width: 48%;
    margin-right: 2%;
    float: left;
    border-right: 1px dotted #f10;
    margin-bottom: 60px;
    overflow: hidden;
}
p.wiracocha{
    width: 48%;
    margin-left: 2%;
    float: right;
    margin-bottom: 60px;
    overflow: hidden;
}
p.central span, p.wiracocha span {
    color: #EF3528;
    margin: 10px 0;
    display: block;
    font-weight: 700;
}

a.mail{
    font-size: 17px;
    color: #EA0000;
    margin-left: 8px;
    padding: 5px 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    position: relative;
    z-index: 9999999999999999999999999999999999999999999999999;
}

a.mail:hover{
    color: #AE0000;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
p.contacto{
    width: 50%;
}